.footer {
    text-transform: uppercase;
}

.heading {
    text-transform: uppercase;
    &--bold {
        font-weight: bold;
    }
    &--italic {
        font-style: italic;
    }
}

.hii {
    text-emphasis: none;
}